
$border-colour: #cecece;
$item-padding: 10px;
$light-text: #5b5b5b;

// Event Item
.event-item {
	&__upcoming {
		border: 1px solid $border-colour;
		padding: 5px 0 0;
		border-radius: 5px;

		&__title {
			margin: 10px;
			font-size: 1.3rem;
		}
	}


	&__item {
		border-top: 1px solid $border-colour;
		padding: 5px;
		display: flex;
	}

	&__date {
		display: flex;
		flex-direction: column;
		padding: $item-padding;
		align-items: center;
		justify-content: center;

		&__day {
			font-size: 1.8rem;
			font-weight: bold;
		}

		&__month {
			color: $light-text;
			font-size: 1.2rem;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: $item-padding;
	}

	&__title {
		font-size: 1.5rem;
		font-weight: normal;
		margin: 0;
	}

	&__time {
			color: $light-text;
			font-size: 1.1rem;
	}
}


// Event page
.event {

	&__details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 10px;
		margin-bottom: 15px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;

		@media(min-width: 1000px) {
			flex-direction: row;
			padding-bottom: 10px;
		}
	}

	&__date {
		font-size: 1.2em;
		display: flex;
		flex-direction: column;
		padding-left: 50px;
		background-image: url(/assets/time.svg);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: left center;


		&__day {
			font-size: 1.1rem;
		}
		&__time {
			font-size: 0.9rem;
			color: #4f4f4f;
		}
	}

	&__location {
		padding-left: 50px;
		background-image: url(/assets/location.svg);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: left center;

		a {
		font-size: 1.2em;
			display: flex;
			flex-direction: column;
		}

		&__title {
			font-size: 1.1rem;
		}
		&__address {
			font-size: 0.9rem;
			color: #4f4f4f;
		}
	}
}
